/* Transition d'entrée et de sortie */
.fade-enter {
  opacity: 0;
  transform: translateY(20px); /* Glisse légèrement vers le bas */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px); /* Glisse légèrement vers le haut */
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
